body{
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(245, 247, 159);
    animation: changes 5s infinite linear;
}

@keyframes changes {
      0%{    background-color: rgb(245, 247, 159);
} 50%{
    background-color: rgb(244, 247, 94);

}100%{
        background-color: rgb(245, 247, 159);

}
    }

.title-container{
  background-color: rgb(34, 13, 224);
  position: absolute;
  width: 100%;
  z-index: 5;
  top: -2%;
  right: 50%;
  transform: translate(50%, 50%);
}

.title {
  font-size: xx-large;
  text-align: center;
}

.press {
  display: block;
  width: auto;
  height: 50px;
  font-size: 14px;
  text-align: center;
  background-color: black;
  animation: blinkin 2s infinite linear;
}

@keyframes blinkin {
  0% {
    background-color: rgb(214, 214, 13);
  }
  50% {
    background-color: rgb(224, 248, 4);
    color: blue;
    font-size: 20px;
  }
  100% {
    background-color: rgb(214, 214, 13);
  }
}

.container-for-bones{
    margin: auto;
    margin-top: 50%;
    border: 2px solid black;
    border-radius: 5px;
    width: 320px;
    height: 320px;
    position: relative;
    background-color: rgb(29, 29, 121);
     animation: changesContainer 5s infinite linear;
}

@keyframes changesContainer {
      0%{        background-color: rgb(29, 29, 121);

} 50%{
        background-color: rgb(8, 8, 228);
}100%{
            background-color: rgb(29, 29, 121);
}
    }

.index{
    /* width: 100px; */
    position: absolute;
    box-sizing: border-box;
    font-size: 40px;
    background-color: azure;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.05s;
    -moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none
    /* transform: rotate(15deg); */
}

.start{
  display: block;
  text-decoration: overline red;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  padding: auto;
}

.result{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 20px 20px 20px 20px;
  background-color: bisque;
  border-radius: 5px;
  border: 2px solid gray;
  height: 90%;
  width: 90%;
  z-index: 2;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.container{
  font-size: 1.5rem;
}

.score{
 position: absolute;
  top: 0;
  right: 3%;
}

.time{
  position: absolute;
  top: 0;
}